@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #08164E;
   
}
.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 30px;
}

.section_01 {
  background-image: url(images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1122px;
  overflow: hidden;
}
nav.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}
.menus {
  display: flex;
  align-items: center;
  gap: 48px;
}
.menus li {
  list-style: none;
  font-size: 16px;
  line-height: 1.25em;
  color: #ffffff;
}

.button {
  padding: 12px 24px;
  background-color: #a8fe3b;
  color: #111111;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2222222222222223em;
  text-decoration: none;
}
.hero_text {
  max-width: 884px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}
.hero_text h1 {
  font-size: 64px;
  color: #ffffff;
  line-height: 1.15625em;
  font-weight: 600;
  text-align: center;
}
.hero_text h1 span {
  color: #a8fe3b;
}
.hero_text p {
  font-size: 20px;
  line-height: 1.6em;
  font-weight: 400;
  color: #bfbfbf;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 48px;
}
img.line_animation {
  position: absolute;
  right: -157.79px;
  bottom: 17.95px;
}
.btn_group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.started_btn {
  padding: 14px 32px;
  background-color: #a8fe3b;
  color: #111111;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.7777777777777777em;
  text-decoration: none;
  max-width: 203px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.demo_btn {
  padding: 14px 32px;
  background-color: transparent;
  border: 1px solid #a8fe3b;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.7777777777777777em;
  text-decoration: none;
  max-width: 192px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: rgba(168, 254, 59, 0.2) 0px 9px 20px;
}
.slider_wrapper {
  min-height: 580px;
  position: relative;
   
}
.hero_slider {
  position: relative;
}
.view_btn {
  padding: 14px 32px;
  background-color: #a8fe3b;
  color: #111111;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.7777777777777777em;
  text-decoration: none;
  max-width: 211px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 1;
}





.view_btn {
  position: absolute;
  top: 91%;
  left: 50%;
  transform: translate(-50%, -50%);

}
/* commapny deltiles strat   */
 .Section_02 {
  background: #052846;
  min-height: 371px;
  position: relative;
    bottom: 57px;
 }
 .Details_content {

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 120px;
 }
 .Details_card {
  max-width: 351px;
  min-height: 131px;
  display: flex;
  align-items: center;
  gap: 125px;

 }
 .Details_card_2 {
  max-width: 204px;
  min-height: 131px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
 }
 .details_text {
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 .Details_content h4 {
  font-size: 64px;
  line-height: 1.21875em;
  font-weight: 600;
  color: #FFF;
 }
 .Details_content p {
font-size: 23px;
line-height: 1.1666666666666667em;
color: #FFF;

 }
 /* How it Wokrs strat  */


 .section_03 {
 background-image: url(images/shap.png);
 min-height: 670px;
 background-size: contain;
 background-repeat: no-repeat;
 padding-left: 75px;
  
 }
 .work_content {
  max-width: 1110px;
  min-height: 654px;
  
  
 }
 .work_heading_text {
 text-align: center;

 }
 .work_heading_text h4 {
  font-size: 40px;
  line-height: 1.225em;
  font-weight: 600;
  color: #fff;
 }
 .work_heading_text p {
  font-size: 20px;
  line-height: 1.6em;
  font-family: 400;
  color: #BFBFBF;
 }
.work_card_main_wrapper {

}

 .work_card_warrper {
  min-height: 517px;
  
  display: flex;
   justify-content: center;
  align-items: flex-end;
  gap: 25px;
  margin-top: 20px;
}
 
.work_card {
  width: 348px;
  height: 462px;
  
  background: #052746;
}
.work_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
   
}
.work_card img {
  padding-top: 16px;
}
.card_text {
  padding-left: 15px;
}


.card_text h4 {
  font-size: 20px;
  line-height:  1.2em;
  font-weight: 600;
  color: #fff;}
  .card_text p {
    font-size: 18px;
    line-height: 1.7777777777777777em;
    letter-spacing: -1px;
    color: #BFBFBF;
  }
  .secend {
    margin-top: 11px;
    margin-block-end: auto;
  }

  /* Our Services strat  */
  .section_04 {
    background-color: #052746;
    min-height: 1373px;
    padding-top: 120px;
  }
  .services_content  {
    
min-height: 1176px;
display: flex;
 align-items: center;
flex-direction: column;

  }

  .services_main_text  {
    width: 954px;
    height: 156px;
    
  }
.services_text h4 {
font-size: 20px;
line-height: 1.4em;
font-weight: 600;
color: #A8FE3B;
  text-align: center;
}
.services_text p {
  font-size: 40px;
line-height:1.225em;
font-weight: 600;
color: #fff;
letter-spacing: -1px;
  text-align: center;
}
.services_card_wrapper {
width: 1200px;
height: 948px;
display: flex;
flex-flow: row wrap;
justify-content: center;
align-items: center;
gap: 28px;

}

.services_card {
   width: 379px;
   height: 453px;
   padding-top: 30px;
  
   background: #00113B;
}
.services_card {
  display: flex;
  flex-flow: column wrap;
 
 align-items: center;
  
}
.services_card img {
  border-radius: 50px;
}
.services_card_text {
 max-width: 292px;
  min-height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
 
}

.services_card_text h4 {
  font-size: 20px;
  line-height: 1.4em;
  color: #fff;
  font-weight: 600;
  padding-top: 40px;
  
}

.services_card_text p {
  font-size: 18px;
  line-height: 1.7777777777777777em;
  font-weight: 400;
  color: #BFBFBF;
  margin-left: 10px;
}



.arrow {
  background: #BFBFBF;
 width: 60px;
 height: 60px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
 

/* Testimonials strat  */

.section_05 {
  background-color: #0A1A41;
  min-height: 885px;
  margin-top: -77px;
}

.textimonial_content {
  max-width: 1200px;
  min-height: 553px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.textimonial_heading {
  max-width: 954px;
  min-height: 57px;
 
  text-align: center;
}
.textimonial_heading h4  {
  font-size: 20px;
  line-height: 1.4em;
  font-weight: 600;
  color: #A8FE3B;
}
.textimonial_heading h5  {
  font-size: 40px;
  line-height:  1.225em;
  letter-spacing: -1px;
  font-weight: 600;
  color: #FFFFFF;
}
.textimonial_cards {
  min-height: 416px;
  width: 1200px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.textimonial_card {
  width: 373px;
  height: 358px;
  border: 1px solid #A8FE3B;
  background: #052746;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-bottom: 166px;

}
.main_card_dc {
  margin-top: 30px;
  text-align: center;
}
.textimonial_card h4 {
  font-size: 20px;
  line-height: 1.6em;
  font-weight: 600;
  color: #FFFFFF;
}
.textimonial_card .bio_text p {
  font-size: 18px;
  line-height: 1.6em;
  font-weight: 400;
  color: #BFBFBF;
}
.textimonial_card   p {
  font-size: 18px;
  line-height: 1.6em;
  font-weight: 400;
  color: #ffffff;
}
.star {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.fa-solid {
  color: #FD8C02;
}

.btn {
  width: 122px;
  min-height: 52px;
  background: #A8FE3B;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
 a #arrow {
  color: #444444;
  font-size: 15px;
 
}
.btn a {
  text-decoration: none;
}

/* oure office strat  */




 footer {
  background: #0A1A41 ;
   min-height: 400px;
   

}
.footer_content {
  display: flex;
  flex-direction: column;
}



.office {
  max-width: 1201;
  min-height: 264px;
  display: flex;
  gap: 54px;
}
.office_about {
   width: 506px;
   height: 264px;
 
}
.office_about p {
font-size: 18px;
line-height: 1.7777777777777777em;
font-weight: 400;
color: #FFFFFF;

}
.email h5 {
  font-size: 18px;
  line-height: 1.7777777777777777em;
  font-weight: 400;
  color: #FFFFFF;
}


/* ************ */
.input-group {
  display: flex;
  align-items: center;
}

.input {
  min-height: 50px;
  max-width: 219px;
  padding: 0 1rem;
  color: #fff;
  font-size: 15px;
  border: 1px solid #fff;
  background-color: transparent;
}

.button--submit {
  min-height: 50px;
  padding: .5em 1em;
  border: none;
  background-color: #A8FE3B;
  color: #000000;
  font-size: 18px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.button--submit:hover {
  background-color: #ffffff;
}

.input:focus, .input:focus-visible {
  border-color: #ffffff;
  outline: none;
}


/* ************end emil */
.location {
  width: 324px;
  height: 234px;
  
}

.location h4 {
  font-size: 20px;
  line-height: 1.4em;
  color: #ffff;
  font-weight: 600;
}
.contact {

  width: 263px;
  height: 192px;
  
  
}
.contact h5 {
  font-size: 20px;
  line-height: 1.4em;
  color: #ffff;
  font-weight: 600;
}
.contact p {

  font-size: 16px;
line-height:  1.5em;
font-weight: 400;
color: #BFBFBF;
}

.copy_right_sect {
  max-width: 1201px;
  min-height: 56px;
  border-top: 1px solid #FFFF;
  margin-top: 45px;
 padding-top: 16px;
 
}
.main {
  display: flex;
  justify-content: space-around;
 

}
.main .navbar {
  display: flex;
  gap: 48px;
}
.main .navbar  a {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5em;
  color: #BFBFBF;
  font-weight: 400;
}

.socile_icon {
  display: flex;
  gap: 10px;
   
  margin-top: -8px;
}

.socile_icon .fa-brands {
  width: 40px;
  height: 40px;
  background-color: #052746;
  text-align: center;
 
  padding-top: 10px;
color: #FFF;

}

/* tablate strat  */
 @media  (min-width:768px) and (max-width:1024px) {
  

  .section_01 {
   min-width: 1114px;
   overflow: hidden;
  }


   img.line_animation {
     
    right: -46.78999999999999px;
     
}
.hero_slider .card img {
   
  min-height: 464px;
}

.view_btn {
   
  top: 83%;
 
}

/* section 02  */

.Section_02 {
  min-width: 1114px;
  bottom: 117px;
  overflow: hidden;
}

/* section 03  */
.section_03 {
  overflow: hidden;
  min-width: 1114px;
  padding-left: 0px;
}

/* section 04  */

.section_04 {
  overflow: hidden;
  padding-top: 63px;
  min-width: 1114px;
}

.services_card {
  width: 311px;
  height: 409px;
  padding-top: 18px;
  
}

/* .section_05  */

.section_05 {
  overflow: hidden;
  margin-top: -158px;
  min-width: 1114px;
   

}
.textimonial_cards {
  min-height: 472px;
  width: 958px;
  gap: 20px;
}
.main_card_dc {
  margin-top: 11px;
  
}
.btn {
 
  margin-top: -48px;
  
}

footer {
  overflow: hidden;
  min-width: 1114px;
}


}





 



