@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #08164E;
   
}
.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 30px;
}

.section_01 {
  background-image: url(images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1122px;
  overflow: hidden;
}
nav.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}
.menus {
  display: flex;
  align-items: center;
  gap: 48px;
}
.menus li {
  list-style: none;
  font-size: 16px;
  line-height: 1.25em;
  color: #ffffff;
}

.button {
  padding: 12px 24px;
  background-color: #a8fe3b;
  color: #111111;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2222222222222223em;
  text-decoration: none;
}
.hero_text {
  max-width: 884px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}
.hero_text h1 {
  font-size: 64px;
  color: #ffffff;
  line-height: 1.15625em;
  font-weight: 600;
  text-align: center;
}
.hero_text h1 span {
  color: #a8fe3b;
}
.hero_text p {
  font-size: 20px;
  line-height: 1.6em;
  font-weight: 400;
  color: #bfbfbf;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 48px;
}
img.line_animation {
  position: absolute;
  right: -157.79px;
  bottom: 17.95px;
}
.btn_group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.started_btn {
  padding: 14px 32px;
  background-color: #a8fe3b;
  color: #111111;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.7777777777777777em;
  text-decoration: none;
  max-width: 203px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.demo_btn {
  padding: 14px 32px;
  background-color: transparent;
  border: 1px solid #a8fe3b;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.7777777777777777em;
  text-decoration: none;
  max-width: 192px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: rgba(168, 254, 59, 0.2) 0px 9px 20px;
}
.slider_wrapper {
  min-height: 580px;
  position: relative;
   
}
.hero_slider {
  position: relative;
}
.view_btn {
  padding: 14px 32px;
  background-color: #a8fe3b;
  color: #111111;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.7777777777777777em;
  text-decoration: none;
  max-width: 211px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 1;
}





.view_btn {
  position: absolute;
  top: 91%;
  left: 50%;
  transform: translate(-50%, -50%);

}
/* commapny deltiles strat   */
 .Section_02 {
  background: #052846;
  min-height: 371px;
  position: relative;
    bottom: 57px;
 }
 .Details_content {

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 120px;
 }
 .Details_card {
  max-width: 351px;
  min-height: 131px;
  display: flex;
  align-items: center;
  gap: 125px;

 }
 .Details_card_2 {
  max-width: 204px;
  min-height: 131px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
 }
 .details_text {
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 .Details_content h4 {
  font-size: 64px;
  line-height: 1.21875em;
  font-weight: 600;
  color: #FFF;
 }
 .Details_content p {
font-size: 23px;
line-height: 1.1666666666666667em;
color: #FFF;

 }
 /* How it Wokrs strat  */


 .section_03 {
 background-image: url(images/shap.png);
 min-height: 670px;
 background-size: contain;
 background-repeat: no-repeat;
 padding-left: 75px;
  
 }
 .work_content {
  max-width: 1110px;
  min-height: 654px;
  
  
 }
 .work_heading_text {
 text-align: center;

 }
 .work_heading_text h4 {
  font-size: 40px;
  line-height: 1.225em;
  font-weight: 600;
  color: #fff;
 }
 .work_heading_text p {
  font-size: 20px;
  line-height: 1.6em;
  font-family: 400;
  color: #BFBFBF;
 }
.work_card_main_wrapper {

}

 .work_card_warrper {
  min-height: 517px;
  
  display: flex;
   justify-content: center;
  align-items: flex-end;
  gap: 25px;
  margin-top: 20px;
}
 
.work_card {
  width: 348px;
  height: 462px;
  
  background: #052746;
}
.work_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
   
}
.work_card img {
  padding-top: 16px;
}
.card_text {
  padding-left: 15px;
}


.card_text h4 {
  font-size: 20px;
  line-height:  1.2em;
  font-weight: 600;
  color: #fff;}
  .card_text p {
    font-size: 18px;
    line-height: 1.7777777777777777em;
    letter-spacing: -1px;
    color: #BFBFBF;
  }
  .secend {
    margin-top: 11px;
    margin-block-end: auto;
  }